/* GLOBALS */
/* TODO: move most basic/critical ones into index.html */
html {
  height: 100%;
  background-color: #fff;
}

html, body, div, footer, ul {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Verdana, sans-serif;
  height: 100%;
  /* FLEX BOX */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container {
  width: 100%;
  height: 100vh;
  /* FLEX BOX */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* DESKTOP MODE */
@media only screen and (min-width: 667px) {
  img {
    min-width: 110%
  }
  footer ul li {
    font-size: 1rem;
  }
  #quote-btn:active, #quote-btn:hover {
    background-color: #DBDC19;
    color: #505050;
    transition: all 1s ease;
  }
  #quote-box {
    font-size: 1.5em;
  }
}

/* MOBILE MODE */
@media only screen and (max-width: 450px) {
  #quote-btn {
    position: fixed;
    bottom: 50px;
    right: 20px;
  }
  #quote-box {
    font-size: 1.2em;
  }
  footer ul li {
    font-size: .8rem;
  }
}
/* QUOTE */
.quote-container {
  min-width: 300px;
  max-width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#quote-box {
  padding: 10px 12px;
  color: snow;
  background: rgba(24, 24, 24, 0.4);
  /* FLEX BOX */
  display: flex;
  flex-direction: column;
}
#quote-field {
  word-spacing: 1px;
}
#author-field {
  margin-top: 4px;
  text-align: right;
}
span#btn {
  display: inherit;
  height: 22px;
}
#quote-btn {
  display: inline-block;
  width: 100px;
  font-size: 15px;
  padding: 8px;
  border: 0px;
  background-color: #9947EA;
  color: snow;
  border-radius: 4px;
  box-shadow: 1px 2px 7px #202020;
  margin-top: 15px;
  margin-left: auto;
}
/* States of #quote-btn */
#quote-btn:focus {
  outline: none;
}

/* SLIDE SHOW TOGGLE BUTTON */
.auto-btn, .auto-btn-stop {
  font-size: 1rem;
  position: fixed;
  background: rgba(255, 255, 255, 0.1);
  color: snow;
  padding: 1px 4px;
  top: 8px;
  right: 8px;
}
