* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  background-color: #F5F5F5;
}

body {
  font-family: Helvetica, Verdana, sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #303030;
}

a:hover, a:active {
  color: #9947EA;
  transition: color 500ms linear;
}

footer {
  display: block;
  width: 100%;
  margin: 2px 0px;
  text-align: center;
}

footer ul li {
  display: inline;
  padding-left: 10px;
  color: #303030;
  font-size: .8rem;
}

#container {
  background-repeat: no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 100%;
  height: 100vh;
  /*flex box*/
  display: flex;
  align-items: center;
  justify-content: center;
}

#quote-box {
  margin: 5px;
  padding: 12px 6px 0px 12px;
  min-width: 300px;
  width: 55%;
  color: snow;
  font-size: 1.5em;
  background: rgba(24, 24, 24, 0.6);
  box-shadow: 1px 2px 7px #202020;
  /*flex box*/
  display: flex;
  flex-direction: column;
}

#quote-field {
  /*Use of px values correct?*/
  word-spacing: 1px;
}

#btn-box {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

#btn {
  /*top: 63px;*/
  /*right: -12px;*/
}

#quote-btn {
  position: absolute;
  top: 68px;
  padding: 8px;
  right: -12px;
  border: 0px;
  background-color: #9947EA;
  color: snow;
  border-radius: 4px;
  box-shadow: 1px 2px 7px #202020;
  /*flex box*/
  align-self: end;
}

#quote-btn:active {
  background-color: #ACA200;
}

#quote-btn:focus {
  outline: none;
}

/*#quote-box:hover {
transform: scale(1.02);
transition: all 800ms linear;
}*/
