* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Verdana, sans-serif;
}


#container {
  background-repeat: no-repeat;
}

#quote-box {
  background: rgba(24, 24, 24, 0.4);
  color: snow;
}
