.quotebox {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quotebox main {
  padding: 10px 12px;
  color: #fff;
  background: rgba(24, 24, 24, 0.4);
  min-width: 300px;
  max-width: 45%;
}

.quotebox__quote {
  word-spacing: 2px;
  padding-bottom: 10px;
  border-radius: 4px;
}

.quotebox__author {
  padding-bottom: 10px;
  text-align: right;
}

.quotebox__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* BOTTOM LAYOUT */
.quotebox--bottomlayout main {
  /* padding: 10px 12px;
  color: #fff;
  background: rgba(24, 24, 24, 0.4);
  min-width: 300px;
  max-width: 45%; */
}

.quotebox--bottomlayout .quotebox__quote {
  /* word-spacing: 2px;
  padding-bottom: 10px;
  border-radius: 4px; */
}

.quotebox--bottomlayout .quotebox__author {
  /* padding-bottom: 10px;
  text-align: right; */
}

.quotebox--bottomlayout .quotebox__actions {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
}