.quotebox {
  font-size: 1.1rem;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quotebox main {
  padding: 10px 12px;
  background: rgba(24, 24, 24, 0.5);
  border-radius: 6px;
  min-width: 300px;
  max-width: 45%;
}

.quotebox__quotewrapper {
  display: flex;
  flex-direction: column;
}

.quotebox__quote {
  word-spacing: 2px;
  padding-bottom: 10px;
}

.quotebox__author {
  padding-bottom: 10px;
  text-align: right;
}

.quotebox__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* BOTTOM LAYOUT */
.quotebox--bottomlayout.quotebox {
  align-items: flex-end;
}

.quotebox--bottomlayout main {
  max-width: 100%;
  width: 100%;
  padding: 20px;
  border-radius: 0;
  display: flex;
  justify-content: space-between;
}

.quotebox--bottomlayout .quotebox__quotewrapper {
  flex-direction: row;
}

.quotebox--bottomlayout .quotebox__quote {
  padding: 0;
}

.quotebox--bottomlayout .quotebox__author {
  padding: 0 20px;
}

.quotebox--bottomlayout .quotebox__actions {
  justify-content: flex-end;
}
