.toggleswitch__button {
  background: none;
  border: none;
  padding: 0;
}

.toggleswitch__input {
  display: none;
}

.toggleswitch__label {
  cursor: pointer;
}

.toggleswitch__span {
  display: inline-block;
  width: 38px;
  height: 18px;
  background-color: #000;
  border-radius: 10px;
}

.toggleswitch__span::before {
  content: '';
  width: 18px;
  height: 18px;
  position: absolute;
  border-radius: 10px;
  background-color: #9947ea;
}

.toggleswitch__button--on .toggleswitch__span::before {
  transform: translateX(2px);
  transition: all 0.2s;
}

.toggleswitch__button--off .toggleswitch__span::before {
  background-color: #696969;
  transform: translateX(-20px);
  transition: all 0.2s;
}
